# Dependencies
node_modules/

# Env & secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS cruft
.DS_Store

# Misc build artifacts
/dist
/tmp
